fastapi
uvicorn[standard]
pydantic
python-dotenv
motor
pymongo
bcrypt
passlib[bcrypt]
python-jose[cryptography]
requests
httpx
openai
stripe
retell-sdk
groq
email-validator
PyJWT
anthropic
google-generativeai
